body {
    border:2px solid black;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.navbar {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 15px;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin: 0px;
}

p {
    margin: 0px;
    margin-bottom: 8px;
    color: #e5e7eb;
}

button {
    background-color: rgb(0, 110, 255);
    color: #e5e7eb;
    font-size: 18px;
    width: 100px;
    border:  rgb(0, 110, 255);
    border-radius: 8px;
    padding: 2px;

}

.img {
    background-color: gray;
    height: auto; /*I thought I was doing flexbox wrong trying to get the gray area to expand the whole way. 
    Turns out I just needed to adjust the height on my css. Always have img height defined as auto*/
    flex: 1; /*in conjunction with .text to divide evenly*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 220px; /*sloppy attempt to prevent placeholder from minimizng more than text on left*/
}

.text {
    flex: 1;
}

.main { /*I need this container for formatting, 
    but the padding can be in the container class. 
    I don't really notice any changes from it being there
    whats it doing and why?*/
    border: 2px dotted aqua;
    padding: 250px;
    padding-top: 0;
}

.signup {
    display: flex;
    gap: 20px;
}
/* how do I get this signup section to be in line with the logo and navbar sections?*/