body {
    border:2px solid black;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.logo {
    border:2px solid red;
    color: #f9faf8;
    font-size: 24px;
}

.header {
    border:2px solid black;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.navbar {
    border:2px solid red;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 15px;
}

.signup {
    border:2px solid red;
    background-color: #1F2937;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin: 0px;
}

p {
    margin: 0px;
    margin-bottom: 8px;
}

.hero {
    border:2px solid red;
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

button {
    background-color: rgb(0, 110, 255);
    color: #e5e7eb;
    font-size: 18px;
    width: 100px;
    border:  rgb(0, 110, 255);
    border-radius: 8px;
    padding: 2px;

}

.imgbox {
    border:2px solid green;

}

/*why isnt the image box filling up the whole way*/
img {
    border:2px solid red;
    background-color: gray;
    height: 100px;
    width: 200px;
}